<div id="hud">
  <p>You currently have $<strong id="hud-cash">{{life.current.finance.cash}}</strong> in cash and <strong id="hud-storage">{{life.current.storage.available}}/{{life.current.storage.total}}</strong> units of storage available.</p>
</div>
