<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="nav navbar-nav">
    <a class="navbar-brand" href="/">{{get_name}}</a>
    {{#if user}}
      <a class="nav-item nav-link" href="/settings">Account</a>
    {{else}}
      <a class="nav-item nav-link" href="/login">Login</a>
    {{/if}}
    <a class="nav-item nav-link" href="/play">Play</a>
  </div>
</nav>
