<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#main-navbar">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="main-navbar">
    <a class="navbar-brand" href="/">{{get_name}}</a>
    <ul class="nav navbar-nav pull-xs-right">
      {{#if player.id}}
        <li class="nav-item">
          <a class="nav-link" href="/settings">Account</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {{/if}}
      {{#if life}}
        <li class="nav-item">
          <a class="nav-link" href="/game/hotel">Hotel</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/play">Play</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
