{
  "site":{
    "port": 5050,
    "name": "Paw Wars",
    "secret": "games-with-cats-are-the-best-games",
    "oauth": {
      "host": "http://127.0.0.1",
      "github": {
        "clientID": "OAUTH CLIENT ID FOR GITHUB",
        "clientSecret": "OAUTH CLIENT SECRET FOR GITHUB"
      }
    },
    "db": {
      "host": "localhost",
      "port": 28015,
      "authKey": "",
      "db": "paw_wars"
    }
  },
  "deploy":{
    "username": "YOUR USERNAME",
    "hostname": "YOUR HOSTNAME",
    "path": "~/Paw-Wars",
    "screen": "paw-wars"
  },
  "game":{
    "base_price": 250,
    "base_units": 1000,
    "base_interest": 5,
    "starting_cash": 10000,
    "starting_debt": 10000,
    "event_rate": 15
  }
}
