{
  "site":{
    "port": 5050,
    "name": "Paw Wars",
    "secret": "games-with-cats-are-the-best-games",
    "oauth": {
      "host": "http://127.0.0.1",
      "github": {
        "clientID": "OAUTH CLIENT ID FOR GITHUB",
        "clientSecret": "OAUTH CLIENT SECRET FOR GITHUB"
      }
    }
  },
  "deploy":{
    "username": "YOUR USERNAME",
    "hostname": "YOUR HOSTNAME",
    "path": "~/Koa-Starter-Kit",
    "screen": "koa-starter"
  }
}
