{
  "site":{
    "port": 5050,
    "name": "Paw Wars",
    "secret": "games-with-cats-are-the-best-games",
    "oauth": {
      "host": "http://127.0.0.1",
      "auth0": {
        "domain": "YOURDOMAIN.auth0.com",
        "clientID": "AUTH0_CLIENT_ID",
        "clientSecret": "AUTH0_CLIENT_SECRET"
      }
    },
    "db": {
      "host": "localhost",
      "port": 28015,
      "authKey": "",
      "db": "paw_wars"
    }
  },
  "deploy":{
    "username": "YOUR USERNAME",
    "hostname": "YOUR HOSTNAME",
    "path": "~/Paw-Wars",
    "screen": "paw-wars"
  }
}
