<div class="container">
  <div>
    <h1>Marketplace</h1>
    <br>
    <p>Here's a listing of which items you can buy and sell and the prices for each</p>

    {{#each items}}
    <div class="card text-xs-center" data-id="{{id}}">
      <div class="card-block">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text"><small class="text-muted">200 available @ ${{sell_price}} per unit</small></p>

        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-success">Buy</a>
        <a href="#" class="btn btn-danger">Sell</a>
      </div>
      <div class="card-footer text-muted">
        You have <strong>0</strong> units to sell
      </div>
    </div>
    {{/each}}

  </div>
</div><!-- /.container -->
