<div class="container">
  <div>
    <h1>Marketplace</h1>
    <br>
    <p>Here's a listing of which items you can buy and sell and the prices for each</p>

    <div class="card text-xs-center">
      <div class="card-block">
        <h4 class="card-title">Catnip</h4>
        <p class="card-text"><small class="text-muted">200 available @ $20 per unit</small></p>

        <p class="card-text">A magical green plant that makes cats chill and murderous at the same time.</p>
        <a href="#" class="btn btn-success">Buy</a>
        <a href="#" class="btn btn-danger">Sell</a>
      </div>
      <div class="card-footer text-muted">
        You have <strong>0</strong> units to sell
      </div>
    </div>

  </div>
</div><!-- /.container -->
