<div class="container">
  <div>
    <h1>Play {{title}}</h1>
    <br>
    <p>Here's a listing of which items you can buy and sell and the prices for each</p>

    <div class="list-group">
      <a href="/game" class="list-group-item">Main Menu</a>
      <a href="/game/market" class="list-group-item">Market</a>
      <a href="/game/airport" class="list-group-item">Airport</a>
      <a href="/game/bank" class="list-group-item">Bank</a>
    </div>

  </div>
</div><!-- /.container -->
