<div class="container">
  <div>
    <h1>Airport</h1>
    <br>
    <p>Here's a listing of where you can fly right now and how much it will cost you</p>
    <ul>
      <li>Dallas - $100</li>
      <li>New York - $150</li>
      <li>Los Angeles - $150</li>
    </ul>
  </div>
</div><!-- /.container -->
