<div class="container">
  <div>
    <h1>Bank</h1>
    <br>
    <p>The bank is where you can handle loans, and also your bank accounts</p>
    <ul>
      <li>You Owe - $100,000</li>
      <li>You Have - $10</li>
    </ul>
  </div>
</div><!-- /.container -->
