<div class="container">
  <div>
    <h1>Marketplace</h1>
    <br>
    <p>Here's a listing of which items you can buy and sell and the prices for each</p>
    <ul>
      <li>Catnip - $20</li>
      <li>Toy Bird - $25</li>
    </ul>
  </div>
</div><!-- /.container -->
