<div class="container">

	<div class="template-heading">
		<img src="/assets/img/paw-wars-logo.png" class="main-logo">
		<br>
		<p class="lead"><b>{{get_name}}</b> is a game that takes place in a world where dogs are the ruling class and cats are treated as lower class citizens. Luxury items are strictly forbidden, but a black market persists. You take on the role of a smuggler trying to provide contraband to cats in need. You travel the world buying and selling items, avoiding police, and hustling to get rich or die trying.</p>
	</div>

	<div>
		<p>So how do you get started?  Well it's easy!  You can either click on the "Play" button below, or you can read the manual online and be an expert before you even start.</p>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Paw Wars: The Definitive Guide</h5>
					<p class="card-text">Explore the mechanics of the game in detail and get an edge on your competitors.</p>
					<a href="/manual" class="btn btn-primary">Read The Manual</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Play now for free</h5>
					<p class="card-text">Get started now and see if you have what it takes to thrive in the shady criminal underworld that is <strong>Paw Wars</strong></p>
					<a href="/login" class="btn btn-success">Play</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">See who's on top</h5>
					<p class="card-text">See the richest and most powerful cats in the land and how they lived their life.  Do you have what it takes to beat them?</p>
					<a class="btn btn-primary" href="/records">High Scores</a>
				</div>
			</div>
		</div>
	</div>

</div><!-- /.container -->
