<div class="container">

	<div class="template-heading">
		<img src="/assets/img/paw-wars-logo.png" class="main-logo">
		<br>
		<p class="lead"><b>{{get_name}}</b> is a game that takes place in a world where dogs are the ruling class and cats are treated as lower class citizens. Luxury items are strictly forbidden, but a black market persists. You take on the role of a smuggler trying to provide contraband to cats in need. You travel the world buying and selling items, avoiding police, and trying to get rich or die trying.</p>
	</div>

	<div>
		<p>So how do you get started?  Well it's easy!  You can either click on the "Play" button in the top right corner, or you can read the manual online and be an expert before you even start.</p>
		<a class="btn btn-primary" href="/manual">Read The Manual</a>
		<a class="btn btn-success" href="/highscores">High Scores</a>
	</div>

</div><!-- /.container -->
