<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead"><b>{{get_name}}</b> is the story of a world run by dogs where cats are considered the lowest form of citizen.	You play a brave adventurer who travels the globe buying, selling, and trading to get cats what they desperately need.	To get crazy high on catnip and catch that red dot on the ground.</p>
	</div>

</div><!-- /.container -->
