<div class="container">

	<div class="template-heading">
		<img src="/assets/img/paw-wars-logo.png" class="main-logo">
		<br>
		<p class="lead">Login or create an account with the social provider of your choice (or a username and password if you prefer) to resume your life as a cat mobster in case you have to leave.<br>Don't intend on going anywhere until you're filthy rich or dead and don't care about the fame?  Play as a guest to get started right away, but without being able to resume your progress or set a name for the leaderboards.
	</div>

	<div>
		<a role="button" class="btn btn-primary btn-lg btn-block" href="/auth/auth0"><span class="fa fa-star"></span> Sign In / Create Account</a>
		<a role="button" class="btn btn-secondary btn-lg btn-block" href="/play"> <span class="fa fa-question"></span> Play as a guest</a>
	</div>

</div><!-- /.container -->
