<div class="container">

	<div class="template-heading">
		This is the obituary for the late <i>{{pastLife.name}}</i>.  <i>{{pastLife.name}}</i> died at the old age of {{pastLife.current.turn}} turns.  They {{pastlife.eulogy.simple}}.
	</div>

</div><!-- /.container -->
