<div class="container">
	{{> hud}}
	<div class="game-content">
		<a href="/game/hotel">&lt;&nbsp;Back to Hotel</a>
		<h1>Police Encounter</h1>
		<br>
		<div id="alert-container"></div>
		<br>
		<div id="police-messages">
			<p id="police-messages-full"></p>
			<p id="police-messages-simple"></p>
		</div>

		<div id="police-choices-group" class="list-group">

		</div>
	</div>
</div><!-- /.container -->
