<div class="container">
	{{> hud}}
	<div>
		<h1>Police Encounter</h1>
		<br>
		<div id="alert-container"></div>
		<br>
		<div id="police-messages">
			<p id="police-messages-full"></p>
			<p id="police-messages-simple"></p>
		</div>

		<div id="police-choices-group" class="list-group">

		</div>
	</div>
	<script type="text/javascript">
		var life = '{{{stringify life}}}';
	</script>
</div><!-- /.container -->
