<div class="container">
	{{> hud}}
	<div class="game-content">
		<a href="/game/hotel">&lt;&nbsp;Back to Hotel</a>
		<h1>Storage</h1>
		<br>
		<p>You currently have <strong>{{life.current.storage.available}}</strong> units of storage available out of <strong>{{life.current.storage.total}}</strong> units total.</p>
		{{#each life.current.inventory}}
		{{#if_cond this.units ">" 0}}<p>You have <strong>{{this.units}}</strong> units of <strong>{{get_item_name this.id}}</strong></p>{{/if_cond}}
		{{/each}}
	</div>
</div><!-- /.container -->
