html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}

.template-heading {
  padding: 40px 15px;
}

.manual-heading {
  padding: 40px 15px;
}

.manual-heading a{
  text-decoration: none;
}

#hud table {
	table-layout: fixed;
}

.hud-center {
  text-align: center;
}

#main-container {
  padding-top: 50px;
}

.card .card-button-footer {
	background: transparent;
	border: 0 none;
	padding-top: 0;
}

#debug {
  margin-top: 25px;
}

.transport-buy {
  cursor: pointer;
}

.transport-buy:hover {
  background-color: #494D4F;
}
