html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px; }

.template-heading {
  padding: 40px 15px; }

.main-logo {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#debug {
  display: none; }

.game-content {
  padding-top: 80px; }

@font-face {
  font-family: 'Airport';
  src: url("../fonts/Erbos-Draco-1st-NBP.woff2") format("woff2"), url("../fonts/Erbos-Draco-1st-NBP.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Airport Open';
  src: url("../fonts/Erbos-Draco-1st-Open-NBP.woff2") format("woff2"), url("../fonts/Erbos-Draco-1st-Open-NBP.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.brand-logo {
  height: 35px; }

.navbar {
  padding: .25rem 1rem; }

#debug {
  margin-top: 25px; }

.card {
  margin-bottom: 2rem; }
  .card .card-button-footer {
    background: transparent;
    border: 0 none;
    padding-top: 0; }

a:hover .card {
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1125) !important; }

#hud {
  position: absolute;
  left: 0; }

#hud table {
  table-layout: fixed; }

.hud-center {
  text-align: center; }

.hud-icon {
  color: #FFFFFF; }

.manual-heading {
  padding: 40px 15px; }
  .manual-heading a {
    text-decoration: none; }

.medal-0 {
  color: #000000;
  background-color: #CFB53B; }

.medal-1 {
  color: #000000;
  background-color: #E6E8FA; }

.medal-2 {
  color: #000000;
  background-color: #8C7853; }

.score-container {
  text-align: center; }

.transport-buy {
  cursor: pointer; }
  .transport-buy:hover {
    background-color: #494D4F; }

.transport-table {
  max-width: none; }

.transport-info {
  font-family: 'Airport Open';
  background-color: #232529;
  text-align: center;
  font-size: .8rem; }
  .transport-info, .transport-info th, .transport-info td {
    border: 1px solid #fff; }
  .transport-info th, .transport-info td {
    padding: .5rem; }
  .transport-info th {
    color: #ddd; }
  .transport-info td {
    color: #F5EF5A; }
  .transport-info tr {
    cursor: pointer; }
  .transport-info .align-left {
    text-align: left; }
  .transport-info.mobile {
    color: #ddd;
    background-color: inherit; }
    .transport-info.mobile .transport-buy {
      background-color: #232529;
      padding-bottom: .5rem; }
      .transport-info.mobile .transport-buy + .transport-buy {
        margin-top: 1rem; }
    .transport-info.mobile p {
      margin: 0;
      padding: .25rem; }
      .transport-info.mobile p + p {
        font-size: .6rem;
        padding-bottom: 1rem; }
    .transport-info.mobile .table {
      margin-bottom: 0; }
    .transport-info.mobile th, .transport-info.mobile td {
      padding: 0; }
    .transport-info.mobile td {
      border: 0 none;
      font-size: 1rem; }
