<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="/"><img src="/assets/img/paw-wars-p.png" class="brand-logo"></a>
	<ul class="navbar-nav mr-auto"></ul>

	<div id="navbar" class="navbar-expand">
		<ul class="navbar-nav ml-auto">
			<!--
			{{#if player.id}}
				<li class="nav-item">
					<a class="nav-link" href="/settings">Account</a>
				</li>
			{{else}}
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
			{{/if}}
			-->
			{{#if life}}
				<li class="nav-item">
					<a class="nav-link" href="/game/hotel">Hotel</a>
				</li>
			{{else}}
				<li class="nav-item">
					<a class="nav-link" href="/play">Play</a>
				</li>
			{{/if}}
		</ul>
	</div>
</nav>
