.transport-buy {
  cursor: pointer;

  &:hover {
	  background-color: #494D4F;
	}
}

.transport-table {
	max-width: none;
}

.transport-info .card {
	cursor: pointer;

	&:hover {
		box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .1125) !important;
	}
}
