@font-face {
    font-family: 'Airport';
    src: url('../fonts/Erbos-Draco-1st-NBP.woff2') format('woff2'),
        url('../fonts/Erbos-Draco-1st-NBP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airport Open';
    src: url('../fonts/Erbos-Draco-1st-Open-NBP.woff2') format('woff2'),
        url('../fonts/Erbos-Draco-1st-Open-NBP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
